{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'auctions/listing_style.css' %}">
{% endblock %}

{% block body %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <img class="d-block mx-auto mx-md-0 col-10 col-md-7 col-lg-4" src="{{ listing.image_url }}">
        <div class="col-11 col-md-5 col-lg-8">
            <div>
                <strong>{{ listing.title }}</strong>
                <span class="status status-{{ listing.active }}">
                    {% if listing.active %}
                        active
                    {% else %}
                        closed
                    {% endif %}
                </span>
            </div>
            {% if listing.active and listing.user.id == user.id %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="close">
                    <button type="submit" class="btn btn-danger btn-sm">Close the listing</button>
                </form>
            {% endif %}
            <p>Current biding: <span class="current_bid">${{ current_bid }}</span></p>
            <p>{{ listing.description|linebreaks }}</p>
            <a href="{% url 'category' listing.category.id %}">Category: {{ listing.category }}</a>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="watchlist">
                <button type="submit" class="btn btn-secondary btn-sm">
                    {% if watchlisted %}
                        Remove from watchlist
                    {% else %}
                        Add to watchlist
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
    {% if listing.active %}
        <div class="card bid-holder">
            <div class="card-body">
                <form class="row" action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="bid">
                    <div class="form-inline">
                        <label>Place a bid (of at least ${{ current_bid }}):</label>
                        <input type="number" step=".01" min="{{ current_bid }}" class="form-control" required name="value"></input>
                    </div>
                    <div class="d-flex align-items-end">
                        <button class="submit-comment btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if user_is_winner %}
        <div class="alert alert-success show" role="alert">
            Your bid was the winner! Your last bid was {{ current_bid }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <form class="row" action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="type" value="comment">
                <div class="col-12 col-md-10">
                    <label>Comment</label>
                    <textarea type="text" class="form-control" required name="content" placeholder="Write your comment here"></textarea>
                </div>
                <div class="d-flex align-items-end">
                    <button class="submit-comment btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
            {% if comment_error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ comment_error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            {% for comment in listing.comments.all %}
                <p>{{ comment.user.username }} commented:<br>{{ comment.content }}</p>
            {% empty %}
                No Comments for this listing
            {% endfor %}
        </div>
    </div>
{% endblock %}