{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2>Your watchlist</h2>

    {% if user.is_authenticated %}
        {% if not listings %}
            <h5>Your watchlist is empty</h5>
        {% endif %}
        <div class="row justify-content-center">
            {% for listing in listings %}
                <a href="{% url 'listing' listing.id %}" class="listing-card card justify-content-center col-10 col-sm-5">
	    	    	<div class="card-body text-center">
                        <img class="listing-image" src="{{ listing.image_url }}">
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="card-footer">
                        <div>
                            <strong>{{ listing.title }}</strong>
                            <span class="status status-{{ listing.active }}">
                                {% if listing.active %}
                                    active
                                {% else %}
                                    closed
                                {% endif %}
                            </span>
                        </div>
                        {% for bid in current_bids %}
                            {% if bid.listing == listing.id %}
                                <div class="price mt-1">${{ bid.value }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h5>To add items to your watchlist log in!</h5>
    {% endif %}
{% endblock %}